.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .domino {
  width: 30px;
} */

.domino-button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #ffffff;
  /* font-family: sans-serif;
  font-size: 1rem; */
  cursor: pointer;
  text-align: center;
  /* transition: background 250ms ease-in-out, 
              transform 150ms ease; */
  -webkit-appearance: none;
  -moz-appearance: none;
}

.hand {
  display: flex;
  flex-direction: row;
}

.domino-left-low {
  height: 30px;
  rotate: -90deg;

  /* margin: 0 7px; */
}

.domino-left-high {
  height: 30px;
  rotate: 90deg;


  /* margin: 0 7px; */

}

.domino-vertical {
  height: 30px;

}

.domino-upsidedown {
  height: 30px;
  rotate: 180deg;
}

.domino-hover {
  border: 1px solid yellow;
}

.board {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.top-domino-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;

}


.bottom-domino-row{
  display: flex;
  flex-direction: column;
  align-self: flex-end;

}

.middle-row-horizontal-margin {
  margin: 0 7px;

}

.horizontal-on-vertical-branch{
  margin-top: -8px;
  margin-bottom: -8px;
}

.lower {
 margin-bottom: -7px;

}

.higher{
  margin-top: -7px;
}